.sidebar{
    background-color: white;
    width: 150px;
    border: 1px solid;
    height: 80%;
    position: relative;
   z-index: 1;
}
.sidebar-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 25px;
}
.side-btn{
    font-size: 20px;
}
.side-btn:hover {
    color: green;
}
.link-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.show-sidebar{
    transform: translateX(0%);
    
}


@media only screen and (min-width: 600px) {
   
}

@media only screen and (max-width: 600px) {
    .show-sidebar{
        transform: translateX(-100%);
        background-color: red;
    }
}